<header>
  <nav class="nav-container">
    <div class="menu-icon" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="logo">
      <a href="tienda.html"><img src="../assets/logo.png" alt="Logo">BYH</a>
    </div>
    <ul class="nav-menu">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="nosotros.html">Nosotros</a></li>
      <li><a href="contacto.html">Contacto</a></li>
      <li><a href="tienda.html">Tienda</a></li>
      <li><a href="blog.html"></a></li>
    </ul>
    <div class="header-actions">
      <a href="lista-deseados.html" class="wishlist-icon" title="Lista de Deseados">
        <i class="far fa-heart"></i>
        <span class="action-count wishlist-count">0</span>
      </a>
      <a href="carrito.html" class="cart-icon" title="Carrito de Compras">
        <i class="fas fa-shopping-cart"></i>
        <span class="action-count cart-count">0</span>
      </a>
      <a href="login.html" class="login-icon" title="Iniciar Sesión">
        <i class="fas fa-user"></i>
        <span>Iniciar sesión</span>
      </a>
    </div>
  </nav>
</header>
